<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <% count = person.errors.count %>
      <h2>
        <%= I18n.t("activerecord.attributes.person.mistake", count:count) %>:
      </h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="field">
    <table>
      <thead>
        <tr>
          <%= form.label :sex %>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <%= form.radio_button :sex, "male" %>
            <%= form.label "male" %>
          </td>
          <td>
            <%= form.radio_button  :sex, "female" %>
            <%= form.label "female" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
