<% ar_a_p = 'activerecord.attributes.person.' %>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.declension.declension_case') %></th>
      <th><%= t("#{ar_a_p}first_name") %></th>
      <th><%= t("#{ar_a_p}last_name") %></th>
      <th><%= t("#{ar_a_p}middle_name") %></th>
      <th><%= t("#{ar_a_p}sex") %></th>
      <th><%= t("#{ar_a_p}full_name") %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <strong>
          <%= t('app.views.nominative') %>:
        </strong>
      </td>
      <td><%= @person.first_name %></td>
      <td><%= @person.last_name %></td>
      <td><%= @person.middle_name %></td>
      <td><%= t("#{ar_a_p + (@person.sex ? @person.sex : 'none')}") %></td>
      <td><%= @person.full_name.delete "none" %></td>
    </tr>

    <% @declensions.each do |declension| %>
      <tr>
        <td>
          <strong>
          <%= t("activerecord.attributes.declension.#{declension.declension_case}") %>:
          </strong>
        </td>
        <td><%= declension.first_name %></td>
        <td><%= declension.last_name %></td>
        <td><%= declension.middle_name %></td>
        <td colspan="1"></td>
        <td><%= declension.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('app.views.edit'), edit_person_path(@person) %> |
<%= link_to t('app.views.back'), people_path %>
