<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Middle name</th>
      <th>Sex</th>
      <th>Full name</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Nominative: (MAIN)</strong></td>
      <td><%= @person.first_name %></td>
      <td><%= @person.last_name %></td>
      <td><%= @person.middle_name %></td>
      <td><%= @person.sex %></td>
      <td><%= @person.full_name %></td>
    </tr>

    <% @names.each do |declension| %>
      <tr>
        <td><strong><%= declension.declension_case.capitalize %>:</strong></td>
        <td><%= @names.where(declension_case: declension.declension_case).first.first_name %></td>
        <td><%= @names.where(declension_case: declension.declension_case).first.last_name %></td>
        <td><%= @names.where(declension_case: declension.declension_case).first.middle_name %></td>
        <td colspan="1"></td>
        <td><%= @names.where(declension_case: declension.declension_case).first.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
